.hero
	&__tittle
		padding-top: 100px
		line-height: 75px
		margin: 0 auto
		+strong
		font-size: 75px
		color: #333B41
	&__article
		padding-top: 26px
		font-size: 18px
		color: #2C3133
		line-height: 26px
	&__subtittle
		padding-top: 60px
		+bold
		font-size: 30px
		color: #2C3133
	&__form
		
	&__input-name
		padding: 21px 25px
		width: 198px
		height: 60px
		opacity: 0.2
		border: 1px solid #000000
		box-sizing: border-box
		border-radius: 5px\
	
	&__input-mobile
		margin-left: 12px
		padding: 21px 25px
		width: 198px
		height: 60px
		opacity: 0.2
		border: 1px solid #000000
		box-sizing: border-box
		border-radius: 5px
	
	&__button
    cursor: pointer
    font-size: 14px
    margin-left: 16px
    color: #ffffff
    border-radius: 5px
    border: none
    width: 200px
    height: 60px
    background: linear-gradient(266.37deg, #F1545F 0.35%, #CE1120 99.65%)
		
  
	&__button:hover
    background: linear-gradient(266.37deg, #CE1120 0.35%, #F1545F 99.65%)

	&__form-article
		font-size: 12px
		color: #97BEBE
	&__advantages span
		margin-top: 50px
		display: inline-block
		width: 280px
	
	&__advantages h3
		font-size: 18px
		+bold	
	&__advantages p
		line-height: 20px
		color: #2C3133 0.5
		font-size: 14px
	
	
